<h2>Select a Friend:</h2>
<%= form_for :bff, :url => {:controller => 'facebook', :action => 'bff'}, :html => {:method => 'get'} do |f| %>
    <select id="friends_list"
            data-placeholder="Select Friend"
            name="friend_uid"
    >
      <option value=""></option>
      <% @friends.each do |friend| %>
          <option value="<%= friend['id'] %>"><%= friend['name'] %></option>
      <% end %>
    </select>
    <%= f.submit 'Show BFF' %>
<% end %>
<script type="text/javascript">
    $(function() {
        $('#friends_list').chosen();
    });
</script>